body {
  background-image: url('https://github.com/DrowningBear/A-simple-website-game.github.io/blob/main/abc6ba4a-5d82-5999-8967-2c2ae3c06e17_0.png');
  background-size: cover; /* 覆盖整个背景 */
  background-repeat: no-repeat; /* 不重复 */
  background-position: center center; /* 居中 */
}
