body {
  background-image: url('https://github.com/DrowningBear/A-simple-website-game.github.io/blob/main/BackGround.jpg');
  background-size: cover; /* 覆盖整个背景 */
  background-repeat: no-repeat; /* 不重复 */
  background-position: center center; /* 居中 */
}
